p{
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{
    text-align: center;
}
.demo {
    display: none;
}

#phoneNumId {
    display: none;
}

#buttonId {
    margin-left: 45%;
    display: block;
}

